<div *ngIf="game" class="modal-dialog">
  <div class="modal-content">
    <div *ngIf="game" class="modal-header justify-content-center">
      <carousel [showIndicators]="false">
        <slide *ngFor="let image of game.images">
          <img alt="First slide" class="d-block w-100" [src]="image" />
        </slide>
      </carousel>
    </div>
    <div *ngIf="game" class="modal-body">
      <p>
        {{ game.name }}
      </p>
      <p>{{ literals.released }}{{ game.released }}</p>
      <p class="scroll-description" [innerHTML]="game.description"></p>
      <div class="progress-container progress-primary">
        <span class="progress-badge"> {{ literals.rating }} </span>
        <progressbar class="progress-bar-primary" [value]="game.rating * 20">
          <span class="progress-value"> {{ game.rating }} </span>
        </progressbar>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link btn-neutral" type="button"></button>
      <button
        class="btn btn-link btn-neutral"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        {{ literals.close }}
      </button>
    </div>
  </div>
</div>
