<div class="container" *ngIf="storeDetails && storeList">
  <div class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div class="row justify-content-between align-items-center">
            <img
              [src]="storeDetails.image_background"
              class="rounded"
              alt="{{ storeDetails.name }}"
            />
          </div>
        </div>
        <div class="col-md-5">
          <h1 class="profile-title text-left">
            {{ storeDetails.name }}
          </h1>
          <a target="_blank" href="{{ storeDetails.domain }}">
            <h1 class="profile-title text-left">{{ storeDetails.domain }}</h1>
          </a>
          <h1 class="profile-title text-lef">
            {{ literals.numGames }}{{ storeDetails.games_count }}
          </h1>
          <p
            class="profile-description text-left"
            [innerHTML]="storeDetails.description"
          ></p>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>{{ literals.game }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of getGames()">
        <td class="text-center">{{ game.id }}</td>
        <td data-target="#myModal" (click)="onClickGame(game.id, myModal)">
          {{ game.name }}
        </td>
        <td class="td-actions text-center">
          <button
            type="button"
            rel="tooltip"
            class="btn btn-info btn-sm btn-icon"
            data-target="#myModal"
            (click)="onClickGame(game.id, myModal)"
          >
            <i class="tim-icons icon-single-02"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MODAL -->
<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade modal modal-primary modal"
  #myModal="bs-modal"
  id="myModal"
  role="dialog"
  tabindex="-1"
>
  <game
    *ngIf="showGameModal"
    data-target="#myModal"
    [gameId]="selectedGameId"
    (onCloseModal)="closeModal(myModal)"
  >
  </game>
</div>
