<div class="container" *ngIf="storeDetails && storeList">
  <div class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div class="row justify-content-between align-items-center">
            <img
              [src]="storeDetails.image_background"
              class="rounded"
              alt="{{ storeDetails.name }}"
            />
          </div>
        </div>
        <div class="col-md-5">
          <h1 class="profile-title text-left">
            {{ storeDetails.name }}
          </h1>
          <h1 class="profile-title text-left">
            {{ storeDetails.domain }}
          </h1>
          <h1 class="profile-title text-lef">
            {{ literals.numGames }}{{ storeDetails.games_count }}
          </h1>
          <p class="profile-description text-left">
            {{ storeDetails.description }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>{{ literals.game }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of getGames()">
        <td class="text-center">{{ game.id }}</td>
        <td>{{ game.name }}</td>
        <td class="td-actions text-center">
          <button
            type="button"
            rel="tooltip"
            class="btn btn-info btn-sm btn-icon"
            (click)="onClickGame(game.id)"
          >
            <i class="tim-icons icon-single-02"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<game
  *ngIf="showGameModal"
  [gameId]="selectedGameId"
  (onCloseModal)="closeModal()"
></game>
